# Laravel & PHP
/vendor/
.env
.phpunit.result.cache
Homestead.yaml
Homestead.json

# Laravel IDE Helper
/_ide_helper.php
/_ide_helper_models.php

# Laravel Mix / Node
/node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log

# Composer
composer.lock

# OS / Editor files
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.sublime-project
*.sublime-workspace

# Logs & Cache
/storage
/storage/*.key
/storage/*.log
/storage/debugbar/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/app/public/*
/bootstrap/cache/*.php

# npm
package-lock.json
